@use "src/styles/vars";
.app {
  width: 90%;
  max-width: 800px;
  min-height: 100vh;
  padding: vars.$gutter;
  margin: 0 auto;
  background-color: vars.$color-app;

  .logo {
    margin: vars.$gutter;
    &-img {
      width: 150px;
      display: block;
      margin: auto;
    }
  }
}
